@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Nunito&family=Raleway:wght@200;300;400&family=Source+Code+Pro:wght@300&display=swap');
body{
    background: #232323
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     
    column-gap: 20px;
   
}
.nearestC{
    display: flex;
     position: relative;
    flex-direction: column;
    gap:20px
}